PORT=3000
AUTH_SERVICE_URL=https://hardier-stephnie-nonrudimental.ngrok-free.dev
GOOGLE_CLIENT_ID=866709837983-s0fmq490k4kfsqh3f49v7uo047gec23g.apps.googleusercontent.com
COORDINATOR_WS_URL=wss://nonportrayable-estimatingly-tamara.ngrok-free.dev