PORT=4000
JWT_SECRET=bb0c891d5b6a5558c40ea7cb6160ea4415ab197bf3c1521ed9e60ad7a78de6e0
CORS_ORIGINS=https://noninterpretive-chemotrophic-shawna.ngrok-free.dev,https://nonportrayable-estimatingly-tamara.ngrok-free.dev,https://unrippled-jeanett-impedingly.ngrok-free.dev
GOOGLE_CLIENT_ID=866709837983-s0fmq490k4kfsqh3f49v7uo047gec23g.apps.googleusercontent.com