PORT=5002
JWT_SECRET=bb0c891d5b6a5558c40ea7cb6160ea4415ab197bf3c1521ed9e60ad7a78de6e0
AUTH_SERVICE_URL=https://hardier-stephnie-nonrudimental.ngrok-free.dev
COORDINATOR_ID=coord-1
PUBLIC_WS_URL=wss://nonportrayable-estimatingly-tamara.ngrok-free.dev
TICK_RATE=120


